<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side div -->
                     <div class="col-md-10 col-12 main_header_right align-items-center">

                        <figure class="errimg">
                            <img src="images/user-1.png" alt="abc" class="img-fluid" title="jai">
                        </figure>

                        <p>welcome to the weather app</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button>go back</button></a>


                    </div>

                </div>

            </div>
        </div>
    </div>        

<!-- footer -->
{{>footer}}
</body>
</html>